#loading {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
